*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color:white;
    background-image: url("../sfondo.avif");
    background-position: center;
    background-size: cover;
    font-family: verdana;
}

i{
    font-size: 30px;
}

i:last-child{
    transform: scaleX(-1);
}

main{
    gap:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.title{
    display: flex;
    align-items: center;

}

.title h1{
    margin: 0 10px;
}

.container{
    font-size: 20px;
    border:1px solid black;
    text-align: center;
    width: 500px;
    backdrop-filter: blur(7px);
    background: rgba(0,100,0,50%);
}

#play, #changeName{
    padding:5px 10px;
}

#play{
    background: #b50101;
    border: 1px solid darkred;
    color: white;
    transition: 0.25s;
    box-shadow: 9px 7px 15px 0px #141414;
    
}

#play:hover{
    transition: 0.25s;
    box-shadow: 9px 7px 15px 5px #141414;

}

#playerName:hover{
    cursor: pointer;
    text-decoration: underline;
}

.container > *{
    margin:25px 0 12.5px 0;
}

.img{
    width: 100%;
    height: auto;
}

button:hover{
    cursor: pointer;
}

.container-top{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.container-middle{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 70px;


}

.col-25{
    width: 25%;
}

.col-50{
    width: 50%;
}

.container-bottom div{
    margin-top:20px;
}



